@import '_variables';
@import '_mixins.scss';

.userlist {
    padding-top: 26px;
    .filters, &__list {
        background-color: $color-dark-grey;
        padding: 0 20px 14px;
    }
    .navigation {
        background-color: $color-dark-grey;
        justify-content: flex-start;
    }
}

.userList__list {
    background-color: $color-dark-grey;
    padding: 0 20px;
}

.userList__list li {
    width: 100%;
}
.userList__list:not(:last-child) li {
    background-color: $color-grey;
    padding-bottom: 16px;
}

.userlist-header__searchform {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $color-grey;
    width: 100%;
    padding: 14px 0;
    div {
        display: flex;
        align-items: center;
        background-color: $color-grey;
        padding-left: .5rem;
        input {
            border: 0;
            width: 20rem;
            height: 38px;
            position: relative;
            color: $color-white;
            background-color: $color-grey;
            padding: .5rem;
        }
    }
    button {
        background-color: $color-grey;
        padding: .5rem;
        border: none;
        color: $color-white;
    }
}

.userlist-header__list li {
    color: #f4f4f4;
    margin: 0 14px;
    border-bottom: 14px solid $color-grey;
}

.pages {
    height: 7vh;
    display: flex;
    justify-content: right;
    align-items: center;

    span {
        color: $color-light-grey;
        padding: 0 10px;

        a {
            font-size: 22px;
        }
    }

    .active {
        color: $color-white
    }
}