@import '_variables';
@import '_mixins.scss';

.form-login {
    display:flex;
    flex-direction: column;
    &__logo {
        margin: 0 auto
    }
    
    &__label {
        input {
            margin: 8px auto;
            background-color: $color-dark-grey;
            color:#7e7e7e;
            background: $color-dark-grey 0% 0% no-repeat padding-box;
            border: none;
            padding: 1rem;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-red;
        color: $color-white;
        margin: 1rem auto;
    }
    &__div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
    }
    &__login,
    &__forgotten-password {
        display: flex;
        flex-direction: column;
        a {
            font-size: .9rem;
        }
    }
}

@media (min-width: 600px) {

    .form-login {
        position: absolute; 
        width: 350px; 
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &__input {
            width: 350px;
            box-sizing: border-box;
        }
        &__button {
            margin: 8px 0 0;
            margin-left: auto;
        }
        &__div {
            flex-direction: row-reverse;
        }
        div div {
            padding: 0;
        }
        &__login {
            text-align: right;
            flex-direction: column-reverse;
        }
        &__login p {
            margin: 1rem 0;
        }
        &__forgotten-password {
            display: flex;
            justify-content: flex-end;
            padding: 1rem;
        }
    }
}