@import '_variables.scss';
@import '_mixins.scss';

.generating-info{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
   h1 {
     font-size: 50px;
   }
}