@import '_variables.scss';
@import '_mixins.scss';

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1f;
    padding: 1rem 0;
    color: $color-white;
    p {
        max-width: 1430px;
    }
}