@import '_variables.scss';


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey;
    padding: 1rem 10px;
    color: $color-white;
    p {
        max-width: 1430px;
    }
}