@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@mixin submit-btn {
    background-color: $color-red;
    cursor: pointer;
    color: $color-white;
    height: unset;
    transition: all .3s ease-out;
    &:hover {
        background-color: $color-white;
        color: $color-red;
    }
}

@mixin form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    h2 {
        font-size: 1.38rem;
        color: $color-white;
    }
}