@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@mixin submit-btn {
    background-color: $color-red;
    cursor: pointer;
    color: $color-white;
    height: unset;
    transition: all .3s ease-out;
    &:hover {
        background-color: #e2e4e5;
        color: $color-red;
    }
}

@mixin blue-btn {
    background-color: $color-deep-blue;
    border: none;
    color: #e2e4e5;
    padding: .5rem .63rem;
    font-size: 14px;
    &:hover {
        background-color: #e2e4e5;
        color: $color-deep-blue;
    }
}

@mixin form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    h2 {
        font-size: 22px;
        color: $color-white;
    }
    button {
        @include blue-btn;
    }
}