$color-white: rgba(247, 247, 247, 1);
$color-black: rgba(10, 10, 10, 1);
$color-deep-grey: rgba(34, 34, 36, 1);
$color-dark-grey: rgba(41, 42, 43, 1);
$color-grey: rgba(30, 30, 31, 1);
$color-medium-grey: rgba(102, 102, 102, 1);
$color-light-grey: rgba(158, 158, 158, 1);
$color-red: rgba(224, 39, 53, 1);
$color-deep-blue: rgba(23, 42, 53, 1);
$color-blue: rgba(11, 139, 212, 1);

// $font-primary: 