.tymczasowa {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
  }

  a span {
    color: white;
    font-size: 36px;
  }
}