.tymczasowa {
  @include flex;
  height: 100vh;
  flex-direction: column;

  span {
    display: block;
    color: $color-white;
    font-size: 50px;
    margin-bottom: 50px;
  }

  a span {
    color: $color-white;
    font-size: 36px;
  }
}